<div class="container">
    <div class="single-dish" >
        <div class="info">
            <h2> {{ dish.dish_name | uppercase }}</h2>
            <p class="cuisine"> {{ dish.cuisine | uppercase }}</p>
            <p class="category"> {{ dish.category }}</p>
            <p class="description">{{dish.description}}</p>
            <p class="ingredients">{{dish.ingredients}}</p>
            <p class="price" *ngIf="this.currencyService.currency == 'usd'">{{ dish.price * 1.2 }} {{this.currencyService.currency | uppercase}}</p>
            <p class="price" *ngIf="this.currencyService.currency == 'eur'">{{ dish.price }} {{this.currencyService.currency | uppercase}}</p>
            <div class="buttons">
            </div>
        </div>
        <div class="images">
            <img *ngFor="let img of this.dish.image; let i = index" class="image" alt="" [src]="dish.image[i]"/>
        </div>
    </div>
    <button class="back"(click)="onGoBack()">BACK</button>
    <app-reviews [dish]="dish"></app-reviews>
</div>