<div class="container">
    <p class="welcome">WELCOME!</p>
    <p class="description">G.F. RESTO REIMAGINES WONDERS OF WORLDWIDE FARE IN A MINIMALISTIC YET ELEGANT SPACE<br>ALL WITHIN THE HEART OF KRAKÓW</p>
    <button class="viewmenu" routerLink="/menu">VIEW MENU</button>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.246078823404!2d19.938888715717415!3d50.062952979423905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b11b86b31f5%3A0xa62eb75e55a20f77!2sSzpitalna%2020%2C%2033-332%20Krak%C3%B3w!5e0!3m2!1spl!2spl!4v1641325444268!5m2!1spl!2spl" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="contact">
            <p>CONTACT: </p>
            <p>GFRESTO@GMAIL.COM</p>
            <p>+48 712 567 189</p>
            <p>KRAKÓW</p>
            <p>SZPITALNA 20</p>
        </div>
</div>
